
.slider{
    width: 35%;
    height: 260px;
    background: #7dbcea;
    color: white;
    font-size: 30px;
    /* margin: 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: relative ;

}



